{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div class="media">
      <img class="rounded-circle account-img" src="/media/default.jpg">
      <div class="media-body">
        <h2 class="account-heading">apurva</h2>
      </div>
  </div>
      <legend class="border-bottom mb-4">Admin Info</legend>
        <div class="">
          <p style="float:left;font-size:20px;">Admin Name  :  </p>&nbsp;<b style="font-size:20px;overflow:hidden;clear:both;">Apurva Ajmera</b>
        </div>
        <div class="" style="overflow:hidden;clear:both;">
          <p style="float:left;font-size:20px;">Profession  &nbsp;&nbsp;&nbsp;&nbsp;:  </p>&nbsp;<b style="font-size:20px;">Student</b>
        </div>
        <div class="" style="overflow:hidden;clear:both;">
          <p style="float:left;font-size:20px;">College  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:  </p>&nbsp;<b style="font-size:20px;">Government Enginnering College Rajkot</b>
        </div>
        <div class="" style="overflow:hidden;clear:both;">
          <p style="float:left;font-size:20px;">Contact  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:  </p>&nbsp;<b style="font-size:20px;">apurvaajmera10@gmail.com</b>
        </div>
</div>
{% endblock %}
